



<!DOCTYPE html>
<html>
<head>
    <title>Donation Form</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container theme-background-white main-body">
        <div class="col-md-12">
            <div class="row donate-bar">
                <div class="col-md-4 theme-blue">
                    GIVE WHERE NEEDED MOST
                </div>
            </div>
            <div class="col-md-8">
                <ul class="nav navbar-nav navbar-left donate-buttons" id="donate-buttons">
                    <li>
                        <a href="#">
                            <button class="btn-blue active" data-dollars='25' data-impact="Covers housing or counseling services for one person">
                                R25
                            </button>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <button class="btn-blue" data-dollars='50' data-impact="Covers housing or counseling services for two people">
                                R50
                            </button>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <button class="btn-blue" data-dollars='100' data-impact="Covers housing or counseling services for four people">
                                R100
                            </button>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <button class="btn-blue" data-dollars='500' data-impact="Covers housing or counseling services for twenty people">
                                R500
                            </button>
                        </a>
                    </li>
                    <li id="other">
                        <a href="#">
                            <button class="btn-blue-other" data-dollars='other' data-impact="Thank you!">
                                OTHER
                            </button>
                        </a>
                    </li>
                    <li id="other-input">
                        <span>₹</span>
                        <input data-impact="That’s great. Thank you!">
                    </li>
                    <li>
                        <a href="#">
                            <button class="btn-green" data-toggle="modal" data-target="#myModal">
                                DONATE
                            </button>
                        </a>
                    </li>
                    <li style="display: none;">
                        <a href="#">
                            LEARN MORE<i class="fa fa-chevron-right margin-left"></i>
                        </a>
                    </li>
                </ul>
                    <p class="impact">
                        Covers housing or counseling services for one person
                    </p>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header well text-center theme-background-blue">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    <h2>You’re Donating:</h2>
                                    <h1 style="font-size: 5.5em; margin-top: 0;">₹<span id="price"></span></h1>
                                    <em>Thank you!</em>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <section class="col-md-12">
                                            <form>
                                                <fieldset class="col-md-6">
                                                    <legend>
                                                        Your personal info
                                                    </legend>
                                                    <label for="your-name">Your Name</label>
                                                    <input type="text" class="form-control" id="your-name">
                                                    <label for="your-email">Your email</label>
                                                    <input type="email" class="form-control" id="your-email">
                                                    <label for="your-address">Address</label>
                                                    <input type="text" class="form-control" id="your-address">
                                                    <label for="your-zip">City, State, Zip Code</label>
                                                    <input type="text" class="form-control" id="your-zip">
                                                </fieldset>
                                                <fieldset class="col-md-6">
                                                    <legend>
                                                        Credit Card Information
                                                    </legend>
                                                    <label for="card-number">Credit Card Number</label>
                                                    <input placeholder="1234 5678 9012 3456" pattern="[0-9]*" type="text" class="form-control card-number" id="card-number">
                                                    <label for="card-expiration">Expiration Date</label>
                                                    <input placeholder="MM/YY" pattern="[0-9]*" type="text" class="form-control card-expiration" id="card-expiration">
                                                    <label for="card-cvv">CVV Number</label>
                                                    <input placeholder="CVV" pattern="[0-9]*" type="text" class="form-control card-cvv" id="card-cvv">
                                                    <label for="card-zip">Billing Zip Code</label>
                                                    <input placeholder="ZIP" pattern="[0-9]*" type="text" class="form-control card-zip" id="card-zip">
                                                </fieldset>
                                            </form>
                                        </section>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">BACK</button>
                                    <button type="button" class="btn-green" id="continue-button">CONTINUE</button>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                </div>
            </div><!--/.donate-bar-->
        </div><!-- /.col-md-12 -->
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function () {

            // ... (previous code) ...

            $('#continue-button').on('click', function () {
                // Retrieve user inputs
                var yourName = $('#your-name').val();
                var yourEmail = $('#your-email').val();
                var yourAddress = $('#your-address').val();
                var yourZip = $('#your-zip').val();

                // Retrieve credit card inputs
                var cardNumber = $('#card-number').val();
                var cardExpiration = $('#card-expiration').val();
                var cardCVV = $('#card-cvv').val();
                var cardZip = $('#card-zip').val();

                // Perform further processing or submit the form as needed
                // Example: Validate inputs and submit via AJAX

                // Close the modal (you may want to do this after a successful submission)
                $('#myModal').modal('hide');
            });

        });
    </script>

</body>
</html>
<body style="background-color: lightgray">
</body>