<section class="Header">
    <div class="text-box">
        <h1>Shelter For Every Student</h1>
        <p>
            Making every Student's dream a reality against any faced circumstances,<br>put your hopes on us because
            we got you coverd
        </p>
        <a href="" class="hero-btn">Visit Us To Know More</a>
    </div>
</section>
<!----Houses-->
<section class="Houses">
    <h1>Rooms We Offer</h1>
    <p>We have single,double & triple rooms</p>

    <div class="row">
        <div class="house-col">
            <h3>Single Rooms</h3>
            <P>
                We offer the most beauyiful and friendly single room for you
                to enjoy your stay ,<br>
                we make sure that you get the high level environment.<br>
                You can stay up to 4 days until you are allocated by the housing department
            </P>
        </div>
        <div class="house-col">
            <h3>Double Rooms</h3>
            <P>
                We offer the most beautiful and friendly double room for you
                to enjoy your stay,<br>
                we make sure that you get the high level environment.<br>
                You can stay up to 4 days until you are allocated by the housing department
            </P>
        </div>
        <div class="house-col">
            <h3>Triple Rooms</h3>
            <P>
                We offer the most beautiful and friendly double room for you
                to enjoy your stay,<br>
                we make sure that you get the high level environment.<br>
                You can stay up to 4 days until you are allocated by the housing department
            </P>
        </div>
    </div>
</section>


<!----Room Highlite-->
<section class="Rooms ">
    <h1>Rooms Highlights</h1>
    <p>Here is a quick view of what to expect in our rooms</p>
    <div class="row">
        <div class="room-col">
            <img src="~/css/singleroom.jpg">
            <div class="Layer">
                <h3>SINGLE ROOM</h3>
            </div>

        </div>
        <div class="room-col">
            <img src="~/css/double.jpg">
            <div class="Layer">
                <h3>DOUBLE ROOM</h3>
            </div>
        </div>
        <div class="room-col">
            <img src="~/css/triple.jpg">
            <div class="Layer">
                <h3>TRIPLE ROOM</h3>
            </div>
        </div>
        <div class="text-center" >
            <a href="@Url.Action("Gallery", "Home")" class="btn btn-primary">View Gallery</a>
        </div>

    </div>

</section>
<!----Important things-->
<section class="important">
    <h1>Necessities Highlights</h1>
    <P>A quickview of important things you might need after getting a room</P>
    <div class="row">
        <div class="important-col">
            <img src="~/css/poli.jpg">
            <h3>Police are 5 minutes away</h3>
            <p>Please proceed to the essential services screen to get in touch with cops near you</p>
        </div>
        <div class="important-col">
            <img src="~/css/AMB.jpg">
            <h3>Ambulance is 2 minutes away </h3>
            <p>Please proceed to the essential services screen to get in touch with the ambulance near you</p>
        </div>
        <div class="important-col">
            <img src="/css/eatss.jpg">
            <h3>food delivered in 2 minutes</h3>
            <p>
                Please proceed to the essential services screen to get info on uber stores working with uber eats
                near you
            </p>
        </div>
        <div class="text-center">
            <a href="@Url.Action("Important", "Home")" class="btn btn-primary">More Services</a>
        </div>

    </div>
</section>
<!----TESTIMONIALS-->
<section class="testimonials">

    <h1>What Students Says</h1>
    <P> Below are student reviews we recieved from students after using our system</P>
    <div class="row">
        <div class="testimonial-col">
            <img src="~/css/face1.webp">
            <div>
                <P>
                    This Booking app have been a great help to me when i needed housing during my first year,
                    i knew nothing about how i will get  accomodation but this app played a huge role as i stayed at the temporal res
                    for 3 days as i waited for housing to allocate me,i give it 5 star rating.
                </P>
                <h3>Christine Wood</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
        </div>
        <div class="testimonial-col">
            <img src="~/css/face2.jpeg">
            <div>
                <P>
                    This Booking app have been a great help to me when i needed housing during my first year,
                    i knew nothing about how i will get  accomodation but this app played a huge role as i stayed at the temporal res
                    for 2 days as i waited for housing to allocate me,i give it half 4 star rating.
                </P>
                <h3>Paul Pogba</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>

            </div>
        </div>
    </div>
</section>

<!----Contact us-->
<section class="cta">
    <h1>Reach Out To Us By Sending Us An Email Address<br> And We Will Get Back To you Immedietly</h1>
    <a href="@Url.Action("Contact", "Home")" class="hero-btn">CONTACT US</a>

</section>
<!----FOOTER-->
<section class="footer">
    <h4>About Us</h4>
    <p>Reach Out To Us By Sending Us An Email Address And<br>We Will Get Back To you Immedietl</p>
    <div class="icns">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-star-linkedin"></i>



    </div>
    <p>
        Made with <i class="fa fa-heart-o"></i> by Code Bregade Tech
    </p>
</section>

<body style="background-color: lightgray">
    </body>