<!DOCTYPE html>
<html>

<head>
</head>

<body>
    <section  class="sub-Header"> </section>
        <section class="my">
        <h1>About Us</h1>
        </section>
        <!------About Content-->
        <section class="About">
            <div class="row">
                <div class="about-col">
                    <h1>We Offer Any Tech Services You May Imagine</h1>
                    <p> Bregade Tech is a home grown South African IT solutions service provider. We specialise in providing customers with support and maintenance of and for their IT environments. From the network to the desktop and all the parts in between – no matter where you are in the country your IT Trust team will be able to assist you in ensuring your business is always IT ready.  What do we do? Our specialities include service level agreements, onsite support and consulting, <br>designing and implementation of customised maintenance and support solutions, account management and business development as well as the design and implementation of client specific business improvement models.</p>
                    <a href="" class="hero-btn red-btn">Exlore Now</a>

                </div>

                <div class="about-col">
                    <img src="~/css/About.jpeg" />


                </div>
            </div>
        </section>

        <!----FOOTER-->
        <section class="footer">
@*             <h4>About Us</h4>
 *@            <p>Reach Out To Us By Sending Us An Email Address And<br> We Will Get Back To you Immedietly</p>
            <div class="icns">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-star-linkedin"></i>



            </div>
            <p>
                Made with <i class="fa fa-heart-o"></i> by Code Bregade Tech
            </p>
        </section>
        
</body>

</html>
<body style="background-color: lightgray">
</body>