
<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Design</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc19270568.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/cc19270568.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Practiceeeeeeee.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AspnetIdentityRoleBasedTutorial.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/NavTheme.css" />



</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">

                            <span class="visually-hidden">(current)</span>

                        </li>
                        <div class="nav-links ">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="RoomBookings" asp-action="Create">Bookings</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="AddRooms" asp-action="Index">Rooms</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Gallery">Room Gallery</a>
                               
                              


                                @*   @if (User.Identity.IsAuthenticated)
                                {

                                <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Bookings" asp-action="Create">Bookings</a>
                                </li>


                                }*@
                                @if (User.IsInRole("Admin"))
                                {

                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">Users</a>
                                    </li>

                                }
                                @if (User.IsInRole("User"))
                                {
                                     
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-dark" href="#" id="donateDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Donate
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="donateDropdown">
                                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="DonateMoney">Donate Money</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Donations" asp-action="Create">Donate Items</a>
                                    </div>
                                </li>
                                    
                                }

                        </div>


                    </ul>
                </div>
                <partial name="_LoginPartial" />
            </div>
        </nav>

    </header>


    @* <div class="nav-links ">
    <ul class="nav-links ">
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    @if (User.Identity.IsAuthenticated)
    {
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="GetAll">Products</a>
    </li>
    }
    @if (User.IsInRole("Admin"))
    {
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Inventory" asp-action="GetAll">Inventory</a>
    </li>
    }
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </li>
    </ul>
    </div>
    </div>*@


    @RenderBody()


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false) @RenderBody()
</body>



</html>
<body style="background-color: lightgray">
</body>