@{
    ViewData["Title"] = "Delete Confirmed";
}

<h1>Delete Confirmed</h1>

<p>The user has been successfully deleted.</p>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<body style="background-color: lightgray">
</body>